.thumb-card{
	object-fit: cover; /* Do not scale the image */
	object-position: center; /* Center the image within the element */
	width: 100%;
	max-height: 250px;
	margin-bottom: 1rem;
}

.carousel-caption h5 {
	background: rgba(255, 255, 255, 0.55);
	color: rgb(50, 50, 50)
}

.carousel-caption{
	opacity:0;
	transition:500ms ease-in-out;
  }
  .carousel-item:hover .carousel-caption{
	opacity:1;
  }

.carousel-caption a {
	color: rgb(50, 50, 50)
}

.navbar a {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 14px 10px;
}
.card-header h2 button{
	font-weight: 600;
	color: rgb(0, 0, 0)
}

.btn{
	margin-top: 5px;
}


.mail {
	color: #0B0080;
}

.page-body{
	padding: 40px 15px;
}

.page-body h1{
	text-align: center;
	font-size: 45px;
}

.img-thumbnail{
	height: 100px;
}

.img{
	height: 175px;
}

@media (min-width: 800px) {

	.img-thumbnail{
		margin-top: 30px;
	}

	.img{
		margin-top: 50px;
	}
}